// colors
$white: #fff;
$purple: #e463ff;
$green: green;

// app
$app-dark-background: #646464;
$board-background: #dedede;

// board
// variables to put together with initialState
$board-height: 20;
$board-width: 20;
