// colors
$white: #fff;

// snake parts colors
$purple-darkest: #b816ff;
$purple-dark: #c934e8;
$purple: #e463ff;
$purple-light: #e492e8;
$purple-lightest: #ffc2e9;

// app
$app-dark-background: #646464;
