@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  position: absolute;
  display: block;
  width: calc(100% / #{$board-width});
  height: calc(100% / #{$board-height});
  background-color: green;
}
